body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
  Prevents elements from being covered by the navigation bar.
  Also adds space between attitude graphics so as to associate
  each one with its commensurate buttons.
  */
  padding-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navagation bar */
.nav-bar {
  z-index: 4;
  background-color: #b87450;
  color: white;
  padding: 10px;
  border: 0px;
  margin: 0px;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-bar-title {
  font-size: 170%;
  letter-spacing: 0.2em;
  color: #e7d6cd;
  padding-bottom: 20px;
  border: 0px;
  margin: 0px;
}

.nav-bar-options {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding-left: 40%;
  border: 0px;
  margin: 0px;
}

.navlink:link {
  text-decoration: none;
}

.navlink:visited {
  text-decoration: none;
}

.navlink:visited {
  color: white;
}

/* homepage settings */
.container {
    border: 3px solid #b87450;
    padding: 00px 20px 20px;
    max-width: 1000px;
    &__image {
        width: 300px;
        margin: 30px 30px 30px 0;
        float: left;
    }
    &__text {
        display: inline;
    }
}

.home-page-title {
  letter-spacing: 0.2em;
  font-style: italic;
  color: #c2beb4;
  font-size: 200%;
}

.home-page-text {
  color: #8a8767;
  font-size: 110%;
}

/* all buttons throughout the app */
.buttons {
  background-image: linear-gradient(#97651d, #c0aa8a);
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  color: white;
  border:1.5px solid #582a0e;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
}

.buttons:hover {
  background-image:
    linear-gradient(
      #c0aa8a,
      #97651d
    );
  box-shadow: 0 12px 16px 0
    rgba(
      0,0,0,0.24
    ),
      0 17px 50px 0
    rgba(
      0,0,0,0.19
    );
}

/* http://localhost:3000/airframes */
.airframes-list {
  text-align: center;
}

/* http://localhost:3000/airframes */
.airframes-list-title {
  color: #5a4e1d;
  font-size: 200%;
  letter-spacing: 0.2em;
  text-align: center;
}

/* http://localhost:3000/airframes/:id */
.airframe-name-w-options {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 0.4em;
  color: #5a4e1d;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* http://localhost:3000/airframes/:id */
.airframe-parameter-options {

}

/* http://localhost:3000/airframes/:id/params */
.params-title {
  color: #5a2a1d;
  font-size: 170%;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* http://localhost:3000/airframes/:id/params */
.params-selections {
  text-align: center;
}

/* Attitude Parameter Settings */
.attitude-section {
  background-image: linear-gradient(
    to right,
      #e2f3d2 ,
      white,
      white
  );
}

.attitude-title {
  font-size: 300%;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #b4b195;
  padding: 30px;
  margin: 0px, 0, 0, 100px, 0;
}

.attitude-text {
  margin-bottom: 200px;
}

.attitude-name {
  color: #4e4c3a;
}

.attitude-param {
  color: #6c6a54;
}

.attitude-description {
  position: absolute;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 50px;
  width: 350px;
}

.attitude-form {
  margin-right: 50%;
}

.airframe-form {
  background-color: #c9e8ac
}

.airframe-form-title {
  padding: 20px;
  color: #879b74;
  text-align: center;
}

.airframe-form-submit-button {
  margin-left: 90px;
}

/* raster image size is controlled by RasterComponent.js */
@media (min-width: 770px) {
  .raster-image-container {
    position: relative;
    top: -260px;
    float: right;
    float: top;
    margin: 10px 30px 10px 10px;
  }
}

@media (max-width: 769px) {
  .raster-image-container {
    position: relative;
    margin: 10px 10px 10px 10px;
  }
}

.raster-image {
  padding:10px;
  border:4px solid #40463b;
  background-color:#f5f5f5;
}

.label-and-text-input, .label-and-select-option {
  padding: 10px;
  margin-left: 100px;
  color: #5a6e48;
  font-size: 120%;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.label-and-select-dropdown {
  height: 25px;
  border-radius: 4px;
}

.input-field-text {
  border-radius: 4px;
  border:1.5px solid #582a0e;
  height: 20px;

}

.input-field-text:focus {
  border-radius: 4px;
  border: 3px solid #555;

}

/* Graphics in Attitude Parameter Settings */
.graphic-component {
  margin: -180px 00px 400px 450px; /* centers the interactive graphics */
}
