body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* this is adding huge spaces between the attitude graphics */
  padding-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BEGIN CUSTOM STYLING */

/* Navagation Bar Start */
.nav-bar {
  z-index: 2;
  background-color: #b87450;
  color: white;
  padding: 10px;
  border: 0px;
  margin: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-bar-title {
  font-size: 170%;
  letter-spacing: 0.2em;
  color: #e7d6cd;
  padding-bottom: 20px;
  border: 0px;
  margin: 0px;
}

.nav-bar-options {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  padding-left: 40%;
  border: 0px;
  margin: 0px;
}

.navlink:link {
  text-decoration: none;
}

.navlink:visited {
  text-decoration: none;
}

.navlink:visited {
  color: white;
}

/* Navagation Bar End */

/* Home Page Start */

/* Home Page End */

/* END CUSTOM STYLING */





/* This is the default styling that the create-react-app generated */

/* This is for the ArrowCircle.js graphic */



/*
.circle-graphic {
  position: relative; /* absolute from the global scope
  top: 12px;
  left: 50px;
}
*/

/*
.App {
  text-align: center;
}
*/
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
